

body {
	margin: 0;
	padding: 0;	
	display: flex;
	min-height: 100vh;
}

.slider {
	width: 700px;
	height: 360px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	box-shadow:	0 0 0 20px black;
	
}

.slider ul {
	width: 1000%;
	height: 300px;
	display: flex;
	list-style: none;
	order: 1;
	transition: all 50s;
	animation: slider 35s infinite;
	padding: 0;
  	margin: 0;
}
.slider img {
  width: 700px;
  height: 360px;
  display: flex;
  align-content: space-around;
  
}


@keyframes slider {
	0%, 10% {
		margin-left: 0;
	}
	11%, 20% {
		margin-left: -100%;
	}
	21%, 30% {
		margin-left: -200%;
	}
	31%, 40% {
		margin-left: -300%;
	}
	41%, 50% {
		margin-left: -400%;
	}
	51%, 60% {
		margin-left: -500%;
	}
	61%, 70% {
		margin-left: -600%;
	}
	71%, 80% {
		margin-left: -700%;
	}
	81%, 90% {
		margin-left: -800%;
	}
	91%, 100% {
		margin-left: -900%;
	}

}