body{
	font-family: Arial;
	background-color: black;
	margin:0;
}

.galeriam {
	width: 90%;
    height: 20%;
	margin: auto;
	list-style: none;
	padding: 20px;
    box-sizing: border-box;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}
.galeriam li {
	margin: 5px;
}
.galeriam img {
	width: 250px;
	height: 150px;

}
h1{
	color: #fff;
	text-align: center;
}